:root {
  color-scheme: light;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
html, body{
    background-color: #000000;
    scroll-behavior: smooth;
    font-size: 1rem;
    font-family: sans-serif;
    overflow-x: hidden;
    color: white;
}
@font-face {
  font-family: "ubunto";
  src: url("/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Hedvig";
  src: url("/fonts/Hedvig/HedvigLettersSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Tomorrow";
  src: url("/fonts/Tomorrow/Tomorrow-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Turret";
  src: url("/fonts/Turret_Road/TurretRoad-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aldrich";
  src: url("/fonts/Aldrich/Aldrich-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Share_Tech";
  src: url("/fonts/Share_Tech/ShareTech-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Anta";
  src: url("/fonts/Anta/Anta-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #f0f0f000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border: 3px solid #6d00c7; 
}

::-webkit-scrollbar-thumb:hover {
  border: 3px solid #9411ff; 
}