.divisor{
    position: absolute;
    z-index: 100;
    bottom: -10px;
    width: 100%;
}
.divisor img{
    width: 100%;
    height: auto;
}
.divisor-bottom{
    width: 100%;
}
.divisor-bottom img{
    width: 100%;
    height: auto;
}
@media (max-width: 1024px) {
    .divisor{
        bottom: -5px;
}
    .divisor img{
        min-width: 100vw;
        min-height: 5vh;
        object-fit: cover;
    }
    .divisor-bottom img{
        min-width: 100vw;
        min-height: 5vh;
        object-fit: cover;
    }
}