.section-projects{
    margin-top: 1em;
    background-image: url("/background-projeto.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 1em;
}
.section-projects h2{
    font-size: 3em;
    color: white;
    text-align: center;
    font-family: "Anta", sans-serif;
    font-weight: normal;
}
.section-projects h3 {
    text-align: center;
    font-family: "Tomorrow", sans-serif;
    letter-spacing: 0.8;
}
.cards-projetos{
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5em;
}
.card{
    width: 500px;
    border-radius: 10px;
    background: linear-gradient(180deg, #000000,#000000, #0d000e,#280041);
    padding: 1em;
}
.wallpaper{
    margin-bottom: 0.8em;
}
.banner{
    border-radius: 10px;
    width: 100%;
    height: 300px;
    background-image: url("/navios-ana-beatriz.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.neon{
    border-radius: 10px;
    width: 100%;
    height: 300px;
    background-image: url("/nova.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.description{
    color: white;
    height: auto;
}
.list-services{
    list-style: none;
    display: flex;
    gap: 0.3em;
}
.list-services li{
    background-color: rgb(40, 0, 49);
    border: 1px solid rgb(184, 0, 201);
    border-radius: 5px;
    padding: 0.5em;
    text-transform: uppercase;
    font-size: 0.7em;
    color: rgb(233, 233, 233);
    font-family: "ubunto", sans-serif;
    letter-spacing: 1;
}
.description p {
    color: rgb(184, 184, 184);
    margin: 0.8em 0;
    font-size: 0.9em;
    font-family: "ubunto", sans-serif;
}
.btn-projeto{
    display: block;
    width: fit-content;
    background: linear-gradient(180deg, rgba(238, 213, 252, 0.973), rgb(251, 248, 252));
    color: rgb(33, 0, 53);
    box-shadow: 2px 2px 2px 2px rgb(44, 0, 46);
    padding: 1em;
    margin-top: 3em;
    margin-bottom: 1em;
    border-radius: 5px;
    font-family: "Tomorrow", sans-serif;
}
@media (max-width: 1024) {
    .section-projects{
    background-image: url("/background-projeto.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    }
}
@media (max-width: 600px) {
    .section-projects h2{
        font-size: 2.3em;
    }
}